# Student database 003
## For making data tables for ML models

### Data base master conection

In [19]:
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
import yaml

#Make master conection
up_ld = DatabaseConnector()
DatabaseConnector.read_db_creds(up_ld, 'db_creds.yaml')
DatabaseConnector.list_db_tables(up_ld)

here is ['rnauvvis22train_II']

['rnauvvis22train_II']

In [2]:
from sqlalchemy.sql import text, quoted_name

DATABASE_USER = "reshma"
DATABASE_USER_PASSWORD = "hiGh_High_byE_Bye_24"

create_user_sql = text(f"CREATE USER {quoted_name(DATABASE_USER, False)} WITH PASSWORD :database_password")
up_ld.engine.execute(create_user_sql, database_password=DATABASE_USER_PASSWORD)

### Uploading initial data tables

In [9]:
# Checking where we are
import os

In [11]:
ls data_sheets/

Agilent_FTIR_Known_Dataset.csv  RNAUVvis22Train_II.csv
flu_train_003_for_nivedh.csv

In [20]:
# load data table
rnauvvis22train_II = pd.read_csv("data_sheets/RNAUVvis22Train_II.csv")
rnauvvis22train_II.head()

,Chem,220,223,226,229,232,235,238,241,244,...,721,724,727,730,733,736,739,742,745,748
0,rna,0.138,0.137,0.118,0.107,0.097,0.083,0.081,0.083,0.089,...,0.001,0.003,0.002,0.000,-0.001,0.002,0.011,0.008,0.006,0.007
1,rna,0.152,0.141,0.124,0.108,0.098,0.086,0.081,0.084,0.090,...,0.003,0.004,0.002,0.001,-0.002,0.000,0.013,0.006,0.003,0.009
2,rna,0.147,0.135,0.125,0.114,0.102,0.089,0.087,0.089,0.094,...,0.004,0.004,0.005,0.002,-0.002,0.003,0.014,0.012,0.005,0.006
3,rna,0.162,0.152,0.126,0.112,0.102,0.088,0.086,0.088,0.093,...,0.003,0.004,0.003,0.001,-0.001,0.003,0.011,0.008,0.007,0.007
4,rna,0.113,0.110,0.095,0.086,0.076,0.064,0.058,0.057,0.059,...,0.000,0.000,0.001,-0.001,-0.002,0.001,0.013,0.007,0.002,0.001

In [21]:
# add to database as table
rnauvvis22train_II.to_sql('rnauvvis22train_ii', up_ld.engine, if_exists='replace')

127

In [22]:
from sqlalchemy import inspect
inspector = inspect(up_ld.engine)
inspector.get_table_names()

['rnauvvis22train_II', 'rnauvvis22train_ii']

In [16]:
# This does not work???
up_ld.engine.dispose()